{% extends 'base.html' %}

{% block header_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/scoreboard.css"/>
{% endblock %}

{% block header_js %}
{% endblock %}

{% block title %}
{{ game.name }}
{% endblock %}

{% block content %}

<h4>
{{ game.name }}
</h4>

<form method='POST' actions=''>
  {% csrf_token %}
  <table class="play-form-table" cellpadding=8>
    <thead>
      <tr>
        <th>
          Qtr / Time
        </th>
        <th>
          Down
        </th>
        <th>
          Score
        </th>
        <th>
          Team
        </th>
        <th>
          Text
        </th>
        <th>
          Gfy Video
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ play_form.quarter.errors }}
          {{ play_form.quarter }}

          {{ play_form.time.errors }}
          {{ play_form.time }}
        </td>
        <td>
          {{ play_form.down.errors }}
          {{ play_form.down}}
        </td>
        <td>
          {{ play_form.score.errors }}
          {{ play_form.score }}
        </td>
        <td>
          {{ play_form.team.errors }}
          {{ play_form.team }}
        </td>
        <td>
          {{ play_form.text.errors }}
          {{ play_form.text }}
        </td>
        <td>
          {{ play_form.gfy_id.errors }}
          {{ play_form.gfy_id }}
        </td>
      </tr>
    </tbody>
  </table>
  {% if edit %}
    <input type="hidden" name="play_id" value="{{ play.id }}">
    <input type="submit" name="edit" value="edit">
  {% else %}
    <input type="submit" value="submit">
  {% endif %}
</form>

<table cellpadding=8 class="play-table">
  <thead>
    <tr>
      <th>
        Time
      </th>
      <th>
        Down
      </th>
      <th>
        Score
      </th>
      <th>
        Team
      </th>
      <th>
        Text
      </th>
      <th>
        gfy Video
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
  {% for play in plays %}
    <tr>
      <td>
        {{ play.quarter }} / {{ play.time }}
      </td>
      <td>
        {{ play.down }}
      </td>
      <td>
        {{ play.score }}
      </td>
      <td>
        {{ play.team }}
      </td>
      <td>
        {{ play.text }}
      </td>
      <td>
        <a href="{{ play.gfy_url }}">
          {{ play.gfy_id }}
        </a>
      </td>
      <td>
        <form action="" method="GET">
          <input type="hidden" name="play_id" value="{{ play.id }}">
          <input type="submit" value="edit" name="edit">
        </form>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="play_id" value="{{ play.id }}">
          <input type="submit" value="delete" name="delete">
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block footer_js %}

<script type="text/javascript">
</script>

{% endblock %}
