{% extends 'base.html' %}

{% block header_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/scoreboard.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}slick/slick.css"/>
{% endblock %}

{% block header_js %}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}slick/slick.min.js"></script>
{% endblock %}

{% block content %}

<div class="week-choices-carousel">
{% for week_choice_tuple in week_choices_tuples %}
  <div data-week-choice-id={{ week_choice_tuple.1 }} data-week-url={% url 'scoreboard_table' week_choice_tuple.1 %}>
    <h4>{{ week_choice_tuple.0 }}</h4>
  </div>
{% endfor %}
</div>

<div class="scoreboard-table-container">
  {% include 'games/scoreboard_table.html' %}
</div>

{% endblock %}

{% block footer_js %}

<script type="text/javascript">
  $(document).ready(function(){
      $('.week-choices-carousel').slick({
        'onAfterChange': function(slider, index){
          var weekId = $(slider.$slides[index]).data('weekChoiceId');
          var weekUrl = $(slider.$slides[index]).data('weekUrl');
          $('.week-choices-carousel').currentSlide;
          $.get(weekUrl)
            .done(function(data) {
              console.log(data);
              $('.scoreboard').replaceWith(data);
            });
        }
      });
  });

  $('.scoreboard-table-container').on('click', 'tr', function() {
      window.location = $(this).data('gameUrl');
  }).on('mouseenter', 'tr', function() {
      $(this).toggleClass('hover');
  }).on('mouseleave', 'tr', function() {
      $(this).toggleClass('hover');
  });
</script>

{% endblock %}
